body {
    background-color: #212121;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
}

.content {
    width: 100%;
    background-color: #424242;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.left {
    width: 30%;
    background-color: #616161;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form input {
    height: 1.8rem;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.form select {
    height: 2rem;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.form button {
    height: 2rem;
    margin-bottom: 10px;
    font-size: 1.1rem;
    background-color: #f4511e;
    color: #f4f4f4;
}

.right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-categorias {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category {
    margin: 10px;
    width: 140px ;
    background-color: #212121;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-1 {
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 100;
    color: #bdbdbd;
}

.text-4 {
    margin: 15px 0;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 100;
    color: #bdbdbd;
}

.text-6 {
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 100;
    color: #bdbdbd;
}

.cantidad {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 100;
    color: #00838f;
}

.container-2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: #263238;
    padding: 20px;
    margin-bottom: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #212121;
    border-bottom: 1px solid #838181;
    padding: 0 10px;
    border-radius: 10px;
}

.text-product {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 100;
    color: #c2bebe;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 70px;
    margin-left: 5px;
    color: #f4f4f4
}

.btn-edit {
    background-color: #2e7d32;
}

.btn-delete {
    background-color: #e53935;
}